body{
    margin: 0;
    padding: 0;
    background: linear-gradient( #4A55A2, #7895CB, #24243e);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.allForms{
    width: 280px;
	height: 400px;
	background:linear-gradient( #4A55A2, #7895CB, #24243e);
	border-radius: 10px;
	box-shadow: 3px 10px 25px #000;
    overflow: hidden;
}
input{
	width: 180px;
	height: 25px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 5px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
    color: #fff;
	background:  #7895CB;
    outline: none;
	border: none;
    cursor: pointer;
    width: 60%;
	height: 30px;
	margin-bottom: 15px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 5px;
}
button:hover{
    transition: .3s;
    background:  #4A55A2;
}
#signUp{
	color: #fff;
	font-size: 27px;
	font-weight: bold;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	justify-content: center;
	display: flex;
	margin: 50px auto;
	cursor: pointer;
}
#loginLabel{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 50px auto;
    color: #4A55A2;
    cursor: pointer;
}
.Loginform{
    margin-top: 158px;
    height: 400px;
    margin-bottom: 200px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-150px);
    transition: .8s;
}
#click{
    display: none;
}
#click:checked ~ .Loginform{
	transform: translateY(-400px);
}
input[type="text"],[type="password"],[type="email"]{
	font-size: 12px;
}
